nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;    
    border-radius: 4%;
    transition: background-color 0.3s ease;
}
nav a:hover{
    background-color: #555;
    
}